<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="registerCredentials.email" name="email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="registerCredentials.password" name="password" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Phone #</ion-label>
      <ion-input type="tel-area-code" [(ngModel)]="registerCredentials.contact_num" name="Contact #" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text" [(ngModel)]="registerCredentials.first_name" name="first"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" [(ngModel)]="registerCredentials.last_name" name="last"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>