<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lucky Fox Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="connect()" #registerForm="ngForm">

    <ion-item lines="full">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="registerCredentials.password" required>
      </ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button size="small" fill="outline" color="danger" expand="block" type="submit">Login
        </ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
      </ion-col>
    </ion-row>

  </form>
</ion-content>